@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

.dark {
  --background-color: #0f252a;
  --text-color: #ffffff;
}

html,
body {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
