name: Pull translations from Crowdin

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'

permissions:
  id-token: write
  contents: write
  pull-requests: write

jobs:
  synchronize-with-crowdin:
    runs-on: [k8s-public]
    container: node:18
    env:
      localization_branch_name: l10n_crowdin_translations
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Vault Login
        uses: Chia-Network/actions/vault/login@main
        with:
          vault_url: ${{ secrets.VAULT_URL }}
          role_name: github-chia-blockchain-gui

      - name: Get secrets from vault
        uses: hashicorp/vault-action@v2
        with:
          url: ${{ secrets.VAULT_URL }}
          token: ${{ env.VAULT_TOKEN }}
          secrets: |
            secret/data/crowdin token | CROWDIN_PERSONAL_TOKEN;
            secret/data/crowdin project-id-blockchain-gui | CROWDIN_PROJECT_ID;

      # Setting this up globally so that we can also commit the compiled translations after crowdin runs
      - uses: Chia-Network/actions/commit-sign/gpg@main
        with:
          gpg_private_key: ${{ secrets.gpg_private_key }}
          passphrase: ${{ secrets.gpg_passphrase }}

      - name: crowdin action
        uses: crowdin/github-action@v1.11.0
        with:
          upload_sources: false
          upload_translations: false
          download_translations: true
          crowdin_branch_name: ${{ github.ref_name }} # The "branch" (folder) in crowdin to source from. Match the branch name in GH
          localization_branch_name: ${{ env.localization_branch_name }}
          create_pull_request: true
          pull_request_title: 'New Crowdin Translations'
          pull_request_body: 'New Crowdin translations by [Crowdin GH Action](https://github.com/crowdin/github-action)'
          pull_request_base_branch_name: 'main'
          github_user_name: 'Chia Automation'
          github_user_email: 'automation@chia.net'
          gpg_private_key: ${{ secrets.CHIA_AUTOMATION_PRIVATE_GPG_KEY_RSA }}
          gpg_passphrase: ${{ secrets.CHIA_AUTOMATION_PRIVATE_GPG_PASSPHRASE }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Compile Updated translations
        run: |
          npm install
          npm run locale
          (git add . && git commit -m "Compiled Translations" && git push origin ${{ env.localization_branch_name }}) || true
